:root {
    --primary-blue: #2a81e4;
    --primary-blue-transparent: #2a81e49a;
    --light-blue: #b8dcff;
    --light-blue-transparent: #b8dcff98;
    --link-color: #35a;
    --input-border-color: #999;
    --background-color: rgb(204, 240, 255);
    --flash-text-color: var(--primary-blue-transparent);
    --form-box-background: #fff;
    --debit-color: #ffdddd;
    --debit-text-color: #a00;
    --credit-color: #ddffdd;
    --credit-text-color: #0a0;
}

