*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	color: var(--link-color);
	text-decoration: none;
}



.background{
	height: 100%;
	width: 100%;
	background-color: var(--background-color);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: var(--form-box-background);
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px var(--primary-blue-transparent);
	border-radius: 30px;
}
/*toggle-btn Klasse: Elemente der Klasse toggle-btn sind transparent und haben keinen Hintergrund*/
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
/*rechteckiges Element, das die Farbe für die Schaltflächen darstellt.*/
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, var(--primary-blue-transparent), var(--light-blue-transparent));
	border-radius: 30px;
	transition: .5s;
}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid var(--input-border-color);
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, var(--primary-blue-transparent), var(--light-blue-transparent));
	border: 0;
	outline: none;
	border-radius: 30px;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
.flash-messages {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
	opacity: 1;
    transition: opacity 1s ease-out;
	text-align: center;
}
.flash-messages.fade-out {
    opacity: 0;
}
.flashes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flashes li {
    margin-bottom: 5px;
    color: var(--flash-text-color);
}
* {
	box-sizing: border-box;
}

body {
    background-color: var(--background-color);
	font-family: Arial, sans-serif;
	padding: 20px;
}


.header {
    background: transparent;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.column {
	float: left;
	width: 33.33%;
	padding: 20px;
	height: 600px;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


.footer {
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.column {
		width: 100%;
	}
}

.header-button {
    margin: 10px;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, var(--primary-blue-transparent), var(--light-blue-transparent));
    border: 0;
    outline: none;
    border-radius: 30px;
    color: black;
}
.header-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.signout-form {
    position: absolute;
    right: 20px;
    top: 20px;
}

.signout-button {
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, var(--primary-blue-transparent), var(--light-blue-transparent));
    border: 0;
    outline: none;
    border-radius: 30px;
    color: black;
}

h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #007BFF;
    color: #fff;
    margin-bottom: 20px;
}

h2{
	margin-bottom: 20px;
	text-align: center;
}
ul.transaction-list {
    list-style-type: none;
    padding-left: 20px;
}

ul.transaction-list li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

/* Farbliche Unterscheidung */
ul.transaction-list li.ausgabe {
    background-color: var(--debit-color, #ffdddd);
    color: var(--debit-text-color, #a00);
}

ul.transaction-list li.einnahme {


    background-color: var(--credit-color, #ddffdd);
    color: var(--credit-text-color, #0a0);
}

table {
	width: 100%;
	border-collapse: collapse;
}   
th, td {
	padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
tr {
	background-color: #f5f5f5;
}
/* Farbliche Unterscheidung */
tr.ausgabe {
    background-color: var(--debit-color, #ffdddd);  /* Standardmäßig ein leichtes Rot, falls --debit-color nicht definiert ist */
    color: var(--debit-text-color, #a00);  /* Standardmäßig ein dunkles Rot */
}

tr.einnahme {
    background-color: var(--credit-color, #ddffdd);  /* Standardmäßig ein leichtes Grün */
    color: var(--credit-text-color, #0a0);  /* Standardmäßig ein dunkles Grün */
}

form {
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/* fürs erste für die buttons, die bei mir sind */
input[type="submit"] {
	padding: 10px 20px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0056b3;
}
.messages ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px auto;
    width: auto;
    background-color: #ffc107;
    border-radius: 5px;
    text-align: center;
	font-size: 14px;
	white-space: nowrap;
}

/* für add transaction aufbau  */
form fieldset {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 15px;
}

form legend {
    font-weight: bold;
}
/* für die textfelder und comboboxes  */
form input[type="number"], 
form select, 
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}
.budget-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.add-budget-btn {
    position: absolute;
    right: 20px;
	top: 0;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    background: linear-gradient(to right, var(--primary-blue-transparent), var(--light-blue-transparent));
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}


.add-budget-btn:hover {
    background-color: var(--link-color);
}