<!DOCTYPE html>
<html>
<head>
    <title>Budget verwalten</title>
    <link rel="stylesheet" href="..\static\colors.css">
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
        <!-- Neues Budget hinzufügen -->
    <h3>Neues Budget hinzufügen</h3>
    <form action="{{ url_for('budget') }}" method="post">
        <label for="budget_category">Kategorie:</label>
        <select name="budget_category" required>
            <option value="sonstiges">Sonstiges</option>
            <option value="essen">Essen</option>
            <option value="gehalt">Gehalt</option>
            <option value="wohnen">Wohnen</option>
            <option value="transport">Transport</option>
            <option value="kleidung">Kleidung</option>
            <option value="gesundheit">Gesundheit</option>
            <option value="freizeit">Freizeit</option>
            <option value="versicherungen">Versicherung</option>
            <option value="sparen">Sparen</option>
        </select>

        <label for="budget_amount">Betrag:</label>
        <input type="number" step="0.01" name="budget_amount" required>
        
        <label for="budget_end_date">Bis zum Datum:</label>
        <input type="date" name="budget_end_date" required>
        
        <input type="submit" value="Budget hinzufügen">
    </form>

    <a href="{{ url_for('homepage') }}">Zurück zur Homepage</a>
</body>
</html>
