<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h2>Homepage</h2>
    
    <form action="{{ url_for('addTransaction') }}">
        <button type="submit">Hinzufügen</button>
    </form>
    
    <form action="{{ url_for('logout') }}">
        <button type="submit">Stats</button>
    </form>

    <form action="{{ url_for('TransactionOverview') }}">
        <button type="submit">My Transactions</button>
    </form>

    <form action="{{ url_for('logout') }}">
        <button type="submit">Budget</button>
    </form>

    <form action="{{ url_for('logout') }}">
        <button type="submit">sign out</button>
    </form>

</body>
</html>
