<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="..\static\colors.css">
    <link rel="stylesheet" href="..\static\style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

    <div class="header">
        <h2>Finanz Manager</h2>
        <h3>Dein Kontostand: {{ current_balance }} €</h3>
    
        <div class="header-button-container">
                        <form action="{{ url_for('edit_profile') }}">
                <button class="header-button" type="submit">Profil bearbeiten</button>
            </form>
            <form action="{{ url_for('logout') }}">
                <button class="header-button" type="submit">sign out</button>
            </form>
        </div>
        <div class="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
        </div>
        
    </div>
    
    

<div class="row">
    <div class="column" style="background-color:white;">
        <div class="budget-header">
            <h2>Transaktionen</h2>
            <form action="{{ url_for('addTransaction') }}">
                <button class="add-budget-btn" type="submit">+</button>
            </form>
        </div>
        {% if transactions %}
        <table>
            <tr>
                <th>Betrag</th>
                <th>Kategorie</th>
                <th>Beschreibung</th>
                <th>Datum</th>
                <th></th>
            </tr>
            {% for transaction in transactions %}
    {% if loop.index <= 5 %}
        <tr class="{{ 'einnahme' if transaction.transaction_type == 'einnahme' else 'ausgabe' }}">
            <td>{{ transaction.amount }}</td>
            <td style="text-transform: capitalize;">{{ transaction.category }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date }}</td>
            <td>
                <form action="{{ url_for('delete_transaction', id=transaction.id) }}" method="post" class="delete-form">
                    <input type="hidden" name="next_url" value="{{ url_for('homepage') }}">
                    <input type="submit" value="Löschen" class="delete-button" onclick="return confirmDelete();">
                </form>
            </td>
        </tr>
    {% endif %}
{% endfor %}

        </table>
        {% else %}
        <p>Es sind noch keine Transaktionen vorhanden.</p>
        {% endif %}
        
        <div class="header-button-container">
            <form action="{{ url_for('TransactionOverview') }}">
                <button class="header-button" type="submit">alle anzeigen</button>
            </form>
        </div>
    </div>
    
    
    
    <div class="column" style="background-color: white;">
        <h2>Statistiken</h2>
        <label for="category">Kategorie:</label>
        <select name="category" id="categoryDropdown" onchange="updateChart();">

            <option value="kontostand">Kontostand</option>
            <option value="sonstiges">Sonstiges</option>
            <option value="essen">Essen</option>
            <option value="gehalt">Gehalt</option>
            <option value="wohnen">Wohnen</option>
            <option value="transport">Transport</option>
            <option value="kleidung">Kleidung</option>
            <option value="gesundheit">Gesundheit</option>
            <option value="freizeit">Freizeit</option>
            <option value="versicherungen">Versicherung</option>
            <option value="sparen">Sparen</option>
        </select><br>

        <div style="width: 100%; height: 90%;">
            <canvas id="myChart" style="width: 100%; height: 90%;"></canvas>
        </div>
    </div>
    
    <div class="column" style="background-color:white;">
        <div class="budget-header">
            <h2>Budgets</h2>
            <form action="{{ url_for('budget') }}">
                <button class="add-budget-btn" type="submit">+</button>
            </form>
        </div>

        <!-- Budgets anzeigen -->
        {% if budgets %}
        <table>
            <tr>
                <th>Kategorie</th>
                <th>Betrag</th>
                <th>Bis zum Datum</th>
                <th></th>
            </tr>
            {% for budget in budgets %}
            <tr>
                <td style="text-transform: capitalize;">{{ budget.category }}</td>
                <td>{{ budget.amount }}€</td>
                <td>{{ budget.end_date }}</td>
                <td>
                    <form action="{{ url_for('delete_budget', id=budget.id) }}" method="post" class="delete-form">
                        <input type="hidden" name="next_url" value="{{ url_for('homepage') }}">
                        <input type="submit" value="Löschen" class="delete-button" onclick="return confirmDelete();">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Kein Budget gesetzt.</p>
        {% endif %}
    </div>

<div class="footer">
    <p>made by Stonks</p>
</div>
<div class="header-button-container">

    {% if user_role == 'admin' %} <!-- Überprüfen, ob der Benutzer ein Admin ist -->
        <form action="{{ url_for('Steuerung') }}">
            <button class="header-button" type="submit">Steuerung</button>
        </form>
    {% endif %}
</div>

<!-- Hier kommen Fehlermeldungen, weil VS Code keinen Jinja Code erwartet: -->
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Kontostand',
            data: [],
            borderColor: 'rgba(75, 192, 192, 1)',
            fill: false,
        }]
    },
    options: {
        scales: {
            
            y: {
                beginAtZero: true
            }
        }
    }
    });
    updateChart();

    async function updateChart() {
    try {
        const category = document.getElementById("categoryDropdown").value;
        const response = await fetch('/getChartData', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `category=${category}`,
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const data = await response.json();
        if (!data || !data.labels || !data.datasets) {
            throw new Error('Invalid data format');
        }

        myChart.data.labels = data.labels;
        myChart.data.datasets[0].data = data.datasets[0].data;
        myChart.data.datasets[0].label = data.datasets[0].label;

        myChart.update();
    } catch (error) {
        console.error('There was a problem updating the chart:', error);
    }
}

window.addEventListener('load', updateChart);


</script>
<script>
    function confirmDelete() {
        return confirm('Möchten Sie diese Transaktion wirklich löschen?');
    }
</script> <!--   javascript für pop up nachricht zum löschen    -->
</body>
</html>
