<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
    <div class="background">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn">Log In</button>
                <button type="button" class="toggle-btn">Sign Up</button>
            </div>
            <form class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="text" class="input-field" placeholder="Enter Password" required>
            </form>
        </div>
    </div>
</body>
</html>
