<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzer verwalten</title>
    <link rel="stylesheet" href="..\static\colors.css">
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
    <h1>Benutzer verwalten</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Benutzername</th>
            <th>Rolle</th>
            <th></th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
                    <button class="header-button" type="submit" onclick="return confirmDelete();">Löschen</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <a href="{{ url_for('homepage') }}">Zurück zur Startseite</a>


  <script>
    function confirmDelete() {
        return confirm('Möchten Sie diesen Benutzer wirklich löschen?');
    }
</script> <!--   javascript für pop up nachricht zum löschen    -->
</body>
</html>
