<!DOCTYPE html>
<html>
<head>
    <title>Transaktionsübersicht</title>
    <link rel="stylesheet" href="..\static\colors.css">
    <link rel="stylesheet" href="..\static\style.css"> 
     <style>
        
       
        
    </style> 
</head>
<body>
    <h1>Deine Transaktionen</h1>
   
    <table>
        <tr>
            <th>Betrag</th>
            <th>Beschreibung</th>
            <th>Datum</th>
            <th></th>
        </tr>
        {% for transaction in transactions %}
        <tr class="{{ 'einnahme' if transaction.transaction_type == 'einnahme' else 'ausgabe' }}">
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date }}</td>
            <td>
                <form action="{{ url_for('delete_transaction', id=transaction.id, next_url=url_for('TransactionOverview')) }}" method="post">
                    <input type="submit" value="Löschen" onclick="return confirmDelete();">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <a href="{{ url_for('homepage') }}">Zurück zur Startseite</a>


    <script>
        function confirmDelete() {
            return confirm('Möchten Sie diese Transaktion wirklich löschen?');
        }
    </script> <!--   javascript für pop up nachricht zum löschen    -->

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

</body>
</html>